#content {
  max-width: 900px;
  margin: auto;
  color: #333333;
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  box-shadow: 5px 3px 5px hsla(0,0%,50%,0.1);
//;
}

body {
  background-color: #eeeeee;
}

li, p {
  font-size: 1.5em;
  color: #3d3d3d;
  line-height: 1.4em;
}

h1, h2 {
  font-size: 2em;
  font-family: Serif;
  border-bottom: 1px dotted hsla(0, 100%, 50%, 0.5);
}
